In [ ]:
# print a string

In [2]:
print('Hello world')
print

Hello world

In [3]:
# basic mathematical operations
# Addition

In [4]:
3+5

8

In [5]:
# Substraction

In [6]:
3-5

-2

In [7]:
# multiplication

In [8]:
3*5

15

In [9]:
3/5

0.6

In [10]:
# This command will show the value as Interger
x= 2
type(x)

int

In [11]:
# This command will show the value as Float
y= 2.7
type(y)

float

In [12]:
# This command will show the value as striing
z = "Python"
z

'Python'

In [13]:
cust_has_credit_card = True
cust_has_credit_card

True

In [14]:
# Boolian value
type(cust_has_credit_card)

bool

In [15]:
# This is how assignment is done
first_string_variable = 'test'
first_integer_variable = '123'

In [16]:
print(first_string_variable)
print(first_integer_variable)

test
123

In [17]:
print (type(first_string_variable))

<class 'str'>

In [18]:
# a variable can be only access if that is defined

In [19]:
integer_a,integer_b = 2,5

In [20]:
integer_a

2

In [21]:
integer_b

5

In [22]:
x=7
x+1

8

In [23]:
# Tuples are used to store multiple items in a single variable and are immutable in nature

In [24]:
alpha = (32,19,23,27,45,'john','(jack,45')
alpha

(32, 19, 23, 27, 45, 'john', '(jack,45')

In [25]:
# This is how index value is checked and calculated from left.
alpha[1]

19

In [26]:
alpha[3]

27

In [27]:
# the index value is calculated from right
alpha[-3]

45

In [28]:
# creating a subset or slice of a tuple
# specifies the indicies seperated by commas, the 1 st index is insclusive and the second is exclusive
alpha = (32,19,23,27,45,'john','(jack,45')
alpha[1:3]

(19, 23)

In [29]:
alpha[1:-3]

(19, 23, 27)

In [30]:
# List is mutable
# In Python, a list is created by placing elements inside square brackets [] , separated by commas

In [31]:
cust_ages = [12,23,43,22,'jack','peter']
cust_ages

[12, 23, 43, 22, 'jack', 'peter']

In [32]:
# add a value in a list, use append method

In [33]:
cust_ages.append('sam')
cust_ages

[12, 23, 43, 22, 'jack', 'peter', 'sam']

In [42]:
# If you want to add more than 1 element use extend
cust_ages.extend(['rita','tanu','aditya'])

In [43]:
# You can also remove a name or a number by remove method

In [70]:
cust_ages.remove('sam')
cust_ages

[12,
 'rome',
 23,
 22,
 'jack',
 'rita',
 'tanu',
 'aditya',
 'rita',
 'tanu',
 'aditya',
 'rita',
 'tanu',
 'aditya']

In [45]:
# Python list pop() is an inbuilt function in Python that 
#removes and returns the last value from the List or the given index value

In [46]:
# you can view and remove the value
cust_ages.pop(2)

43

In [47]:
# you can see that pop command has removed 43 from the list
cust_ages

[12,
 23,
 22,
 'jack',
 'sam',
 'rita',
 'tanu',
 'aditya',
 'rita',
 'tanu',
 'aditya',
 'rita',
 'tanu',
 'aditya']

In [48]:
# use command insert to add a particular value, 
#1 indicates that the value has to be added to 1 st index

In [49]:
cust_ages.insert(1,'rome')
cust_ages

[12,
 'rome',
 23,
 22,
 'jack',
 'sam',
 'rita',
 'tanu',
 'aditya',
 'rita',
 'tanu',
 'aditya',
 'rita',
 'tanu',
 'aditya']

In [50]:
# To access the value for index 1 
cust_ages[1]

'rome'

In [51]:
# Dictionary= What is function of dictionary in python?
# Python dict() Function is used to create a Python dictionary. 
# A dictionary is a collection of key-value pairs. 
# A dictionary is a mutable data structure i.e. the data in the dictionary can be modified.
# It can be defined,viewed,modified,lookup,delete

In [52]:
cust_details_on_web = {'Name customer':['John Anderson','Barb Smith'],'Email_Id':['janderson@gmail.com','barbsmith2020@gmail.com'],'Age':[32,56]}
cust_details_on_web

{'Name customer': ['John Anderson', 'Barb Smith'],
 'Email_Id': ['janderson@gmail.com', 'barbsmith2020@gmail.com'],
 'Age': [32, 56]}

In [53]:
cust_details_on_web.keys()

dict_keys(['Name customer', 'Email_Id', 'Age'])

In [54]:
cust_details_on_web.values()

dict_values([['John Anderson', 'Barb Smith'], ['janderson@gmail.com', 'barbsmith2020@gmail.com'], [32, 56]])

In [55]:
import pandas as pd
pd.DataFrame({'Name customer':['John Anderson','Barb Smith'],'Email_Id':['janderson@gmail.com','barbsmith2020@gmail.'],'Age':[32,56]})

   Name customer              Email_Id  Age
0  John Anderson   janderson@gmail.com   32
1     Barb Smith  barbsmith2020@gmail.   56

In [56]:
# Activity - In main list create 3 objects - set, list and tuple. And try to subset/index the set object
main_list = [{'BMW','AUDI','HONDA'}, [100, 150, 200], (5, 10, 8)]
main_list

[{'AUDI', 'BMW', 'HONDA'}, [100, 150, 200], (5, 10, 8)]

In [57]:
# set= Python has a set of built-in methods that you can use on sets.
# set is a collection of unique values

In [58]:
auto_survey_1 = set(['AUDI', 'BMW', 'HONDA'])
auto_survey_2 = set(['MARUTI', 'TOYOTA', 'SUMO'])
auto_survey_1
auto_survey_2

{'MARUTI', 'SUMO', 'TOYOTA'}

In [59]:
auto_survey_1 & auto_survey_2

set()

In [60]:
# Basic operator n
# to check whether the given value is present or not

In [61]:
Student_list = ['Tom','Jack','Nick','Mark','Barb']
print('Nick' in Student_list)
print('Paul' in Student_list)
print('Paul' not in Student_list)

True
False
True

In [62]:
List1 = ["John",1,2,3,5,13,None]
List1

['John', 1, 2, 3, 5, 13, None]

In [63]:
# When john is present in the list, it will be true otherwise false as given below in case of sam
print('John' in List1)

True

In [64]:
print('sam' in List1)

False